* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto 75px auto;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    height: 1600px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
}

aside {
    width: 370px;
    background: #090604;
}

.cv-photo {
    width: 370px;
    height: auto;
    margin: 50px 0 0 0;
}

.header-secondary {
    color: #fff;
    padding: 0 0 20px 0;
}

.contact-box {
    width: 250px;
    margin: 30px 30px 60px 30px;
}

.tech-skills-box,
.soft-skills-box,
.languages-box,
.hobbies-box {
    width: 250px;
    margin: 35px;
}

.contact-list {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.contact-links {
    text-decoration: none;
    color: #90671d;
}

.bold {
    font-weight: 700;
    padding: 0 10px 0 0;
}

.list-secondary {
    color: #90671d;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    list-style-position: inside;
}

.list-secondary-items {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

main {
    padding: 50px 50px 50px 50px;
}

.main-description {
    margin: 0 0 30px 0;
}

.job-title {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 48px;
    margin: 0 0 15px 0;
}

.summary {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
}

.projects-box {
    margin: 0 0 40px 0;
}

.header-primary {
    font-size: 28px;
    padding: 0 0 15px 0;
}

.ordered-list-primary {
    color: #90671d;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    list-style-position: inside;
}

.ordered-list-primary-items {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    padding: 0 0 0 15px;

    &:hover {
        text-shadow: 1px 0 2px #90671d;
    }
}

.work-box {
    margin: 0 0 20px 0;
}

.job-name {
    font-size: 22px;
    font-weight: 700;
    padding: 0 0 5px 0;
}

.highlight {
    color: #90671d;
    padding: 0 0 0 15px;
}

.job-date {
    font-size: 16px;
    color: #b3b3b3;
    padding: 0 0 15px 0;
}

.contract-form {
    color: #90671d;
    padding: 0 0 0 15px;
}

.unordered-list-primary {
    color: #90671d;
    font-weight: 700;
    line-height: 24px;
    list-style-position: outside;
    margin: 0 0 0 20px;
    padding: 0 0 30px 0;
}

.unordered-list-primary-items {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.education-box {
    margin: 0 0 50px 0;
}

.education-name {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 5px 0;
}

.education-date {
    font-size: 14px;
    color: #b3b3b3;
    padding: 0 0 15px 0;
}

footer {
    position: relative;
    justify-content: center;
    width: 1140px;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
    margin: -110px auto auto auto;
    z-index: 999;
    padding: 3px;
}

.footer-border-box {
    border: 1px solid #90671d;
    padding: 15px;
}

.footer-rodo-consent {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}