* {
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --color-highlight: #90671d;
}

body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    height: 1600px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
}

aside {
    width: 370px;
    background: #090604;
}

.cv-photo {
    width: 370px;
    height: auto;
    margin: 50px 0 0 0;
}

.header-secondary {
    color: #fff;
    padding: 0 0 20px 0;
}

.contact-box {
    width: 250px;
    margin: 30px 30px 60px 30px;
}

.tech-skills-box,
.soft-skills-box,
.languages-box,
.hobbies-box {
    width: 250px;
    margin: 35px;
}

.contact-list {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.contact-links {
    text-decoration: none;
    color: var(--color-highlight);
}

.bold {
    font-weight: 700;
    padding: 0 10px 0 0;
}

.list-secondary {
    color: var(--color-highlight);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    list-style-position: inside;
}

.list-secondary-items {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

main {
    padding: 50px;
}

.main-description {
    margin: 0 0 30px 0;
}

.job-title {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 48px;
    margin: 0 0 15px 0;
}

.summary {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.projects-box {
    margin: 0 0 40px 0;
}

.header-primary {
    font-size: 28px;
    padding: 0 0 15px 0;
}

.ordered-list-primary {
    color: var(--color-highlight);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    list-style-position: inside;
}

.ordered-list-primary-items {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    padding: 0 0 0 15px;

    &:hover {
        text-shadow: 1px 0 2px var(--color-highlight);
    }
}

.work-box {
    margin: 0 0 20px 0;
}

.job-name {
    font-size: 22px;
    font-weight: 700;
    padding: 0 0 5px 0;
}

.highlight {
    color: var(--color-highlight);
    padding: 0 0 0 15px;
}

.job-date {
    font-size: 16px;
    color: #b3b3b3;
    padding: 0 0 15px 0;
}

.contract-form {
    color: var(--color-highlight);
    padding: 0 0 0 15px;
}

.unordered-list-primary {
    color: var(--color-highlight);
    font-weight: 700;
    line-height: 24px;
    list-style-position: outside;
    margin: 0 0 0 20px;
    padding: 0 0 30px 0;
}

.unordered-list-primary-items {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.education-box {
    margin: 0 0 50px 0;
}

.education-name {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 5px 0;
}

.education-date {
    font-size: 14px;
    color: #b3b3b3;
    padding: 0 0 15px 0;
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1140px;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
    margin: -110px auto 75px auto;
    z-index: 999;
    padding: 3px;
}

.footer-border-box {
    border: 1px solid var(--color-highlight);
    padding: 15px;
}

.footer-rodo-consent {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

input {
    display: none;
}

.toggle-button,
.download-button {
    width: 60px;
    height: 30px;
    background-color: var(--color-highlight);
    box-shadow: 1px 2px 4px #bebebe;
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
    z-index: 9999;
}

.download-button a {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 4px #000;
}

.toggle-button .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    transition: all .25s ease;
    overflow: hidden;
}

.toggle-button .slider::after {
    content: attr(data-polish);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: var(--color-highlight);
    text-shadow: 1px 1px 4px #000;
    transition: all .25s ease;
}

.toggle-button .slider::before {
    content: attr(data-english);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -60px;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: var(--color-highlight);
    text-shadow: 1px 1px 4px #000;
    transition: all .25s ease;
}

input:checked ~ .toggle-button .slider::after {
    transform: translateX(60px);
}

input:checked ~ .toggle-button .slider::before {
    transform: translateX(60px);
}

.english-page,
.polish-page {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

.english-page {
    transition: all .5s ease;
    opacity: 1;
}

.polish-page {
    transition: all .5s ease;
    opacity: 0;
}

input:checked ~ .english-page {
    transition: all .5 ease;
    opacity: 0;
}

input:checked ~ .polish-page {
    transition: all .5s ease;
    opacity: 1;
}

.detpyrcne-enohp::before {
    text-decoration: none;
    color: var(--color-highlight);
    content: '+''4''8'' ''5''3''6''-''1''1''-''3''6''-''1''1';
}

.detpyrcne-liame::before {
    text-decoration: none;
    color: var(--color-highlight);
    content: 'i''n''o''t''h''i''.''t''o''m''e''k''@''g''m''a''i''l''.''c''o''m';
}

@media screen and (max-width: 1152px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0;
        box-shadow: none;
    }
    
    aside {
        width: 100%;
        background: #090604;
    }
    
    .cv-photo {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: 0 0;
        border-radius: 50%;
    }

    footer {
        display: flex;
    }
}

/*

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    height: 1600px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
}

aside {
    width: 370px;
    background: #090604;
}

.cv-photo {
    width: 370px;
    height: auto;
    margin: 50px 0 0 0;
}

*/